.banner {
  // position: relative;
  background-color: $background-img;
  background-image: url("../img/banner-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/banner-desktop@2x.jpg");
  }


  @media (max-width: $breakpoint-tablet) {
    filter: $shadow-banner;
    background-image: url("../img/banner-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-tablet@2x.jpg");
    }
  }

  @media (max-width: $breakpoint-mobile) {
    filter: none;
    background-image: url("../img/banner-mobile@1x.png");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/banner-mobile@2x.png");
    }
  }
}

.banner__container {
  display: flex;
  justify-content: space-between;
  padding: 50px 75px 50px 75px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: center;
    padding: 87px 45px 100px 45px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 59px 15px 65px 15px;
  }
}

.banner__inner {
  display: flex;
  flex-direction: column;
  max-width: 493px;
  margin-right: 50px;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 0;
  }

  &--form {
    width: 403px;
    margin-right: 0;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 51px;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-top: 33px;
      width: 290px;
    }
  }
}

.banner__form {
  background-color: $color;

  @media (max-width: $breakpoint-mobile) {
    margin-top: -18px;
  }
}

.banner h2 {
  margin: 0;
  margin-top: 163px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @media (max-width: $breakpoint-tablet) {
    margin: 0;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
}

.banner__text {
  margin: 0;
  margin-top: 9px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  max-width: 352px;

  @media (max-width: $breakpoint-tablet) {
    margin-top: 7px;
    margin-left: 33px;
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 15px;
    margin-left: 0;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    min-width: 257px;
  }
}

@media (max-width: $breakpoint-mobile) {
  .banner__span {
    display: block;
  }
}
