.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;

  @media (max-width: $breakpoint-tablet) {
    min-width: 768px;
  }

  @media (max-width: $breakpoint-mobile) {
    min-width: 320px;
  }
}
