.contacts {
  display: flex;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  padding: 120px 15px 116px 15px;

  @media (max-width: $breakpoint-tablet) {
    padding: 100px 45px 96px 45px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 59px 15px 51px 15px;
  }
}

.contacts__map {
  position: relative;
  display: flex;
  margin-right: 30px;

  &::before {
    content: " ";
    position: absolute;
    bottom: 71px;
    left: 249px;
    z-index: 3;

    width: 18px;
    height: 22px;

    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;

    @media (max-width: $breakpoint-tablet) {
      top: 218px;
      left: 109px;
    }

    @media (max-width: $breakpoint-mobile) {
      top: 232px;
      left: 112px;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    margin-right: 3.91%;
    // margin-right: 30px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-right: 0;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
  width: 43.1%;

  @media (max-width: $breakpoint-tablet) {
    width: 47.79%;
    min-width: 324px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 90.62%;
    min-width: 290px;
    margin-bottom: 27px;
  }
}

.contacts__info span {
  display: flex;
  margin-left: 28px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $color;

  @media (max-width: $breakpoint-tablet) {
    // margin-top: 27px;
  }
}

.contacts__paragraph {
  margin: 0;
  margin-top: 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $breakpoint-tablet) {
    margin-top: 67px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0;
  }
}

.contacts__address {
  margin-top: 33px;
  position: relative;

  @media (max-width: $breakpoint-tablet) {
    margin-top: 27px;
  }
}

.contacts__icon-pin {
  position: absolute;
  top: -1px;

  @media (max-width: $breakpoint-tablet) {
    top: 4px;
  }
}

.contacts__tel span {
  margin-left: 28px;
  margin-top: 1px;
}

.contacts__tel {
  margin-top: 19px;
  position: relative;
  width: 190px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.8;
  }
}

.contacts__icon-tel {
  position: absolute;
  bottom: 3px;
}

@media (max-width: $breakpoint-tablet) {
  .contacts__img {
    width: 324px;
    height: 335px;
  }
}
