.contacts {
  display: flex;
}

.contacts__block {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
  margin-top: 139px;
  margin-bottom: 116px;

  @media (max-width: 1023px) {
    width: 88.28%;
    min-width: 678px;
    margin-bottom: 96px;
  }

  @media (max-width: 767px) {
    width: 90.62%;
    flex-direction: column-reverse;
    min-width: 290px;
  }
}

.contacts__map {
  position: relative;
  display: flex;
  // margin-right: 8.62%;

  &::before {
    content: " ";
    position: absolute;
    bottom: 71px;
    left: 249px;
    z-index: 3;

    width: 18px;
    height: 22px;

    background-image: url("../img/map-pin.svg");
    background-repeat: no-repeat;

    @media (max-width: 1023px) {
      top: 218px;
      left: 109px;
    }
  }
}

.contacts__info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;

  @media (max-width: 1023px) {
    width: 47.79%;
    min-width: 324px;
  }

  @media (max-width: 767px) {
    width: 90.62%;
    min-width: 290px;
  }
}

.contacts__info p {
  margin-top: 76px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: 1023px) {
    margin-top: 67px;
  }
}

.contacts__icon-pin {
  position: absolute;
  top: 161px;

  @media (max-width: 1023px) {
    top: 179px;
    left: 0;
  }
}

.contacts__info span {
  display: block;
  margin-top: 31px;
  margin-left: 28px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $color;

  @media (max-width: 1023px) {
    margin-top: 27px;
  }
}

.contacts__tel span {
  margin-left: 28px;
  margin-top: 20px;
}

.contacts__tel {
  position: relative;
}

.contacts__icon-tel {
  position: absolute;
  bottom: 3px;
}

@media (max-width: 1023px) {
  .contacts__img {
    width: 324px;
    height: 335px;
  }
}
