.form {
  width: 403px;
  margin: 0;
  padding-top: 44px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  @media (max-width: 767px) {
    width: 100%;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
}

.form__text {
  margin-top: 0;
  margin-bottom: 27px;
  // width: ;
  min-width: 303px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: $color-white;

  @media (max-width: 767px) {
    text-align: center;
    line-height: 27px;
    width: 66.88%;
    min-width: 214px;
  }
}

.form__button {
  margin-top: 29px;
  position: relative;
  display: block;
  width: 303px;
  padding: 11px 90px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color;
  background-color: $color-white;
  border: none;

  @media (max-width: 767px) {
    width: 230px;
    padding: 15px 53px;
  }
}

.form input {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 43px;
  padding-top: 16px;
  padding-right: 45px;
  padding-bottom: 16px;
  padding-left: 16px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: 400;
  font-size: 14px;
  line-height: 21px;
  border: none;
}

.form input::placeholder {
  color: $color;
  opacity: 1;
}

// чекбокс

.form__checkbox {
  position: absolute;
  z-index: 5;
  margin: 10px 0 0 20px;
}

.form__checkbox + label {
  position: relative;
  padding: 0 0 0 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-white;
  cursor: pointer;

  @media (max-width: 767px) {
    line-height: 12px;
  }
}

.form__checkbox + label::before {
  content: " ";
  position: absolute;
  left: 0;
  top: calc(50% - (25px / 2));
  z-index: 7;

  width: 18px;
  height: 18px;

  border: none;
  background-color: $color-white;
  cursor: pointer;
}

.form__checkbox + label::after {
  content: " ";
  position: absolute;
  left: 4px;
  top: calc(50% - (20px / 2));
  z-index: 9;

  width: 10px;
  height: 6px;

  border-top: 1px solid $color;
  border-right: 1px solid $color;
  transform: rotate(135deg);
  opacity: 0;
}

.form__checkbox:hover + label::before {
  border-color: $color;
}

.form__checkbox:checked + label::after {
  opacity: 1;
}

.form__paragraph {
  margin-top: 0;
  margin-bottom: 20px;
}

