.info {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color;
  width: 260px;
}

.info__item {
  display: flex;
}

.info p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color-white;
}

.info span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color-grey;
}

// .tours__button {
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 21px;
//   // display: block;
//   display: flex;
//   align-items: center;
//   color: $color;
//   background-color: $color-white;
//   padding: 46px 14px;
// }
