.info {
  @include no-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 208px;
  margin-bottom: 37px;

  @media (max-width: $breakpoint-tablet) {
    width: 238px;
    margin-bottom: 36px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 220px;
    margin-bottom: 37px;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
}

.info__item p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-white;
}

.info__departure {
  margin-top: 10px;
}

.info__price {
  margin-top: 10px;
}

.info__item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-grey;
}
