.info {
  @include no-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 260px;

  @media (max-width: 767px) {
    margin-bottom: 39px;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
}

.info__item p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color-white;
}

.info__item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $color-grey;
}
