.navigation {
  display: flex;
}

.navigation__toggler {
  display: none;
}

.navigation__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  width: 51.2%;
  min-width: 594px;
  margin-top: 35px;
}

.navigation__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin-right: 4.15%;

  @media (max-width: 1023px) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.navigation__link {
  color: $color-white;

  @media (max-width: 767px) {
    color: $color;
  }
}
