.promo {
  display: flex;
}

.promo__block {
  display: flex;
  // flex-direction: column;
  margin: 0 auto;
  // width: 84.92%;
  width: 1160px;
  margin-bottom: 116px;

  @media (max-width: 1023px) {
    justify-content: space-between;
    width: 88.54%;
    min-width: 680px;
    margin-bottom: 93px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    width: 90.62%;
    min-width: 290px;
    margin-bottom: 61px;
  }
}

.promo__inner {
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    justify-content: space-between;
    width: 47.78%;
  }

  &--text {
    width: 44.13%;
    margin-right: 7.59%;

    @media (max-width: 767px) {
      margin-bottom: 13px;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.promo h2 {
  margin-top: 56px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @media (max-width: 1023px) {
    margin-top: -9px;
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 34px;
    padding-right: 20px;
  }
}

.promo p {
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color;

  @media (max-width: 1023px) {
    width: 47.79%;
    min-width: 324px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
    width: 90.62%;
    min-width: 290px;
  }
}

.promo__img {
  width: 560px;
  height: 301px;

  @media (max-width: 1023px) {
    width: 324px;
    height: 264px;
  }

  @media (max-width: 767px) {
    width: 290px;
    height: 186px;
  }
}
