.social {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  width: 10.09%;
  min-width: 117px;

  @media (max-width: $breakpoint-tablet) {
    width: 12.83%;
    min-width: 87px;
  }
}

.social__item {
  display: flex;
  align-self: center;

  &:not(:nth-child(3n)) {
    margin-right: 33px;
    margin-bottom: -1px;

    @media (max-width: $breakpoint-tablet) {
      margin-right: 23px;
    }
  }
}

.social__icon {
  width: 11px;
  height: 20px;

  &--insta {
    width: 20px;
    height: 20px;
  }

  &--tw {
    width: 20px;
    height: 16px;
  }

  &:hover {
    opacity: 0.3;
    fill: $color;
  }

  &:active {
    opacity: 0.8;
    fill: $color;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 9px;
    height: 16px;

    &--insta {
      width: 16px;
      height: 16px;
    }

    &--tw {
      width: 16px;
      height: 13px;
    }
  }
}

