.tours {
  display: flex;
}

.tours__container {
  display: flex;
  flex-direction: column;
  padding: 110px 15px 90px 15px;

  @media (max-width: $breakpoint-tablet) {
    padding: 90px 45px 70px 45px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 57px 25px 61px 25px;
  }
}

.tours h2 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 200px;
  // margin-bottom: 0;

  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @media (max-width: $breakpoint-tablet) {
    font-size: 26px;
    line-height: 39px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

.tours__list {
  @include no-list;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-top: 49px;

  @media (max-width: $breakpoint-tablet) {
    // margin-bottom: 70px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-top: 30px;
    justify-content: space-around;
  }
}

.tours__img {
  width: 260px;
  height: 386px;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $color 100%);

  @media (max-width: $breakpoint-tablet) {
    width: 309px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 270px;
  }
}

.tours__item {
  display: flex;
  position: relative;
  min-width: 260px;
  margin-bottom: 26px;
  cursor: pointer;

  &:hover .tours__inner {
    display: block;
    position: absolute;
    z-index: 7;
  }

  @media (max-width: $breakpoint-tablet) {
    min-width: 309px;
  }

  @media (max-width: $breakpoint-mobile) {
    min-width: 270px;
  }

  &--eline {
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 30px;
    }
  }

  &--minion {
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 0;
    }
  }
}

.tours__inner {
  display: none;
  width: 260px;
  height: 386px;
  background-color: $color;
  padding-top: 30px;
  padding-right: 27px;
  padding-bottom: 35px;
  padding-left: 25px;

  @media (max-width: $breakpoint-tablet) {
    width: 309px;
    padding-top: 31px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 270px;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 35px;
    padding-left: 25px;
  }

  &--block {
    display: block;
  }
}

.tours__item h3 {
  display: block;
  position: absolute;
  z-index: 2;
  top: 321px;
  left: 0;
  margin: 0;
  padding: 16px 0;
  width: 215px;
  color: $color-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  @media (max-width: $breakpoint-tablet) {
    top: 317px;
    left: 4px;
  }

  @media (max-width: $breakpoint-mobile) {
    top: 327px;
    left: -4px;
  }
}

.tours__item h4 {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  width: 215px;
  color: $color-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.tours__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $color;
  padding-top: 12px;
  padding-right: 46px;
  padding-bottom: 10px;
  padding-left: 48px;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $breakpoint-tablet) {
    padding-right: 60px;
    padding-left: 63px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-right: 52px;
    padding-left: 52px;
  }
}
