$color: #011c40;
$background-color: #e5e5e5;
$color-white: #f9fbfd;
$background-img: #e3ecf6;

$shadow: rgba(1, 28, 64, 0.15);
$box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
$box-shadow-form: 0 4px 45px rgba(1, 28, 64, 0.15);
$gradient: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);

$tablet-width: 1023px;
$mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
