$color: #011c40;
$background-color: #e5e5e5;
$color-white: #f9fbfd;
$background-img: #e3ecf6;
$color-grey: #d8d8d9;

$shadow: rgba(1, 28, 64, 0.15);
$box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
$box-shadow-form: 0 4px 45px rgba(1, 28, 64, 0.15);
$gradient: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
$shadow-banner: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

$breakpoint-tablet: 1023px;
$width-tablet: 768px;
$breakpoint-mobile: 767px;
$mobile-width: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
